:root {
	background-color: #e3feff;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}

html, body {
    height: 100%;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto;
	padding: 2rem;
}

.container > * {
	width: 100%;
}

.card {
    border-radius: 1.0rem;
    background-image: linear-gradient(#ff8a00, #e52e71);
    color: rgb(233, 232, 232);
    box-shadow: 0.2rem 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.5);
    transition: 200ms;
    max-width: 25rem;
    min-width: 15rem;
    /* float: left; */
    padding: 1rem;
}

.card:hover {
    transform: translate(-0rem, -0.05rem);
    transform: scale(10rem);
}

.card-header {
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
}

.card-line {
    margin: 0%;
    padding: 0.1rem;
    border-radius: 1rem;
    background-color: red;
}

.card-inner {
    padding: 1rem;
    text-indent: 2rem;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}

.cover-card {
    transform: translateX(-5rem);
}

.btn {
	font-size: 1.8rem;
	padding: 1rem 0;
	width: 20rem;
	text-align: center;
	border: 0.1rem solid #56a5eb;
	margin-bottom: 1rem;
	text-decoration: none;
	color: #56a5eb;
	background-color: white;
}

.header {
    color: rgb(20, 20, 20);
}

.header:hover {
    color:#333;
}

/* For mobile */
[class*="col-"] {
    width: 100%;
    float: left;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 600px) {
    /* For tablets */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
    /* For tablets */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}