/* cornflower(black) #151B25
navy blue #034687
baby blue(whitish) #DBE8E1
red #E10032 */


.container {
    max-width: 70rem;
    /* height: 100%; */
}

.card {
    padding: 2rem;
}

.hover:hover {
    background-color: #edfdf5;
}

.time-box {
    margin: 2rem;
    overflow: hidden;
    width: 90%;
}


/* the arrows */
.time-box::after{  content: " ";
    height: 0;
    position: absolute;
    left: 1.5rem;
    width: 0;
    z-index: 1;
    border: medium solid #DBE8E1;
    border-width: 10px 10px 10px 0;
    border-color: transparent #DBE8E1 transparent transparent;
    transition: 200ms;
}


.time-box:hover::after {
  content: " ";
    height: 0;
    position: absolute;
    left: 1.5rem;
    width: 0;
    z-index: 1;
    border: medium solid #edfdf5;
    border-width: 10px 10px 10px 0;
    border-color: transparent #edfdf5 transparent transparent;
}

/* the circles */
.time-box::before {
    left: -1rem;
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #DBE8E1;
    border: 4px solid #034687;
    border-radius: 50%;
    z-index: 1;
    transition: 200ms;
}

.time-box:hover::before {
    background-color: #edfdf5;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    border-radius: 2rem;
    content: '';
    position: absolute;
    width: 6px;
    background-color: #034687;
    top: 0;
    bottom: 0;
    /* left: 50%; */
    margin-left: -3px;
  }

  .desc-header {
      padding: 1rem;
      /* border: 0.2rem solid black; */
      float: none;
  }

  .desc-text {
      /* border: 0.2rem solid black; */
      float: none;
  }

  @media only screen and (min-width: 600px) {
    .desc-header {
        /* border: 0.2rem solid black; */
        float: left;
        width: 33%;
    }   

    .desc-text {
        /* border: 0.2rem solid black; */
        float: left;
        width: 66%;
    }
  
  }

