/* cornflower(black) #151B25
navy blue #034687
baby blue(whitish) #DBE8E1
red #E10032 */

.card {
    padding: 1rem;
    overflow: hidden;
}

.profile {
    width: 100%;
    background-color: #151B25;
}



@media only screen and (min-width: 768px) {
    .profile {
        width: 30%;
        float: left;
    }

    .card-inner {
        width: 69%;
        float: left;
    }
}