/* cornflower(black) #151B25
navy blue #034687
baby blue(whitish) #DBE8E1
red#E10032 */


.page-box {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

h1 {
    color: #DBE8E1;
}

.card {
    padding: 1rem;
}

.halve {
    height: 100%;
    background-color: #151B25;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    transform: translateY(-5rem);
    padding: 5rem;
    border-radius: 0.5rem;
    transition: 200ms;
}

.start-image {
    background-image: url(../images/20210823_125514.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}