/* cornflower(black) #151B25
navy blue #034687
baby blue(whitish) #DBE8E1
red #E10032 */


.page-box {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

h1 {
    color: #DBE8E1;
}

.card {
    padding: 1rem;
}

.halve {
    height: 100%;
    background-color: #151B25;
    justify-content: center;
    align-items: center;
}

.left-container {
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    transition: 200ms;
}

.btn {
    float: left;
    margin-top: 1rem;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .container {
        margin-top: 10rem;
        max-width: 50rem;
        display: block;
    }

    .btn {
        float: none;
        margin-top: 0%;
        width: initial;
    };

    .card {
        margin: 10rem;
    }

    .halve {
        height: 100%;

        background-color: #151B25;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .left-container {
        transform: translateX(-20rem);
    }
}